#divId {
  .it-scene {
    background-color: white;
  }

  .it-player-holder{
    text-align: center;
    .it-player{
      display: inline-block;
      padding: 5px;
    }
  }

  .it-strip-input{
    font-family: monospace;
  }

}
