#divId {
  .it-scene {
    background-color: white;
  }

  .it-player-holder{
    text-align: center;
    .it-player{
      display: inline-block;
      padding: 5px;
    }
  }

  .it-strip-input{
    font-family: monospace;
  }

  .it-strip-warn{
    position: absolute;
    z-index: 100;
    display: none;
  }

  .it-player-warn{
    position: absolute;
    z-index: 100;
    display: none;
  }

  .it-log{
    font-family: monospace;
  }

  .top-buffer {
    margin-top:20px;
  }

  .it-view{
    .it-command-list{
      font-family: monospace;
      font-size: large;
    }
  }

}
